{
  role = {
    ["热离"] = "热力离心机",
    ["过硫酸钠洗"] = "洗矿机",
    ["汞洗"] = "洗矿机",
    ["水洗"] = "洗矿机",
    ["电解"] = "电解机",
    ["离心"] = "离心机",
    ["粉碎"] = "粉碎机",
    ["筛选"] = "筛选机",
  },
  interfaces = {
    ["8a88e9bd-66ac-42c5-9277-47eb5cc064dc"] = "热离",
    ["06378172-5f73-4b11-802c-ee6c747216f8"] = "粉碎",
    ["ffa6d4e2-bce3-4767-812d-1cadb910afbb"] = "离心",
    ["4dacd021-bb68-43c7-8f76-bac3912e2fc3"] = "水洗",
    ["805411fb-41f1-4f02-8cad-f963d7a54815"] = "汞洗",
    ["280d73d8-c5d2-445c-a127-ce2fba9ecdac"] = "筛选",
  },
  idBlacklist = {},
  process = {
    Coal = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    ["Nether Quartz"] = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Lazurite = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Silver = {
      "粉碎",
      "汞洗",
      "粉碎",
      "离心",
    },
    Ruby = {
      "粉碎",
      "水洗",
      "离心",
    },
    Naquadah = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Emerald = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Molybdenum = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Perditio = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Platinum = {
      "粉碎",
      "汞洗",
      "热离",
      "粉碎",
      "离心",
    },
    Bismuth = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Basaltic Mineral Sand"] = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Pitchblende = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Ordo = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Pollucite = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
      "电解",
    },
    Uraninite = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Cassiterite = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Soapstone = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Garnierite = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Asbestos = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Salt = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
      "电解",
    },
    Amber = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Monazite = {
      "粉碎",
      "离心",
    },
    ["Uranium 238"] = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Malachite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Diamond = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Tetrahedrite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Antimony = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Sphalerite = {
      "粉碎",
      "水洗",
      "离心",
    },
    Oriharukon = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Plutonium 239"] = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Titanium = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Sodalite = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Thorium = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    ["Granitic Mineral"] = {
      "粉碎",
      "粉碎",
      "离心",
    },
    ["Nether Star"] = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Gallium = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Graphite = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Stibnite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Terra = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Cryolite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
      "电解",
    },
    Chromite = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Magnetite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Iron = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Tin = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Ardite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Banded Iron"] = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Nickel = {
      "粉碎",
      "汞洗",
      "粉碎",
      "离心",
    },
    Neodymium = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Granitic Mineral Sand"] = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Pyrolusite = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Pyrite = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Molybdenite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Roasted Iron"] = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Pentlandite = {
      "粉碎",
      "水洗",
      "离心",
    },
    Tantalite = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Pyrochlore = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
      "电解",
    },
    Aqua = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Draconium = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Sulfur = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Mica = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Electrotine = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Yellow Limonite"] = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Copper = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Ignis = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Galena = {
      "粉碎",
      "汞洗",
      "离心",
    },
    Tungsten = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Firestone = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    ["Naquadah Enriched"] = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Uranium = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Tricalcium Phosphate"] = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Redstone = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Certus Quartz"] = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Lapis = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Air = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Bastnasite = {
      "粉碎",
      "离心",
    },
    Lepidolite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
      "电解",
    },
    Apatite = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Arsenic = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Iridium = {
      "粉碎",
      "汞洗",
      "热离",
      "粉碎",
      "离心",
    },
    Chalcopyrite = {
      "粉碎",
      "水洗",
      "离心",
    },
    ["Rock Salt"] = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
      "电解",
    },
    ["Vanadium Magnetite"] = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Aer = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    ["Basaltic Mineral"] = {
      "粉碎",
      "粉碎",
      "离心",
    },
    Cobalt = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Shadow = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Saltpeter = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    ["Meteoric Iron"] = {
      "粉碎",
      "汞洗",
      "热离",
      "粉碎",
      "离心",
    },
    Cinnabar = {
      "粉碎",
      "水洗",
      "筛选",
      "离心",
    },
    Zinc = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Gold = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    ["Brown Limonite"] = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Cobaltite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
      "电解",
    },
    ["Shadow Metal"] = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Uvarovite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Aluminium = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Scheelite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Tungstate = {
      "粉碎",
      "水洗",
      "热离",
      "粉碎",
      "离心",
    },
    Desh = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
    Perlite = {
      "粉碎",
      "水洗",
      "粉碎",
      "离心",
    },
  },
  idWhitelist = {
    ["离心"] = {
      ["gregtech:gt.comb#25"] = true,
      ["ExtraBees:honeyComb#37"] = true,
      ["gregtech:gt.metaitem.01#2241"] = true,
      ["Forestry:propolis#3"] = true,
      ["bartworks:gt.bwMetaGenerateddust#71"] = true,
      ["bartworks:gt.bwMetaGenerateddust#77"] = true,
      ["gregtech:gt.comb#11"] = true,
      ["gregtech:gt.comb#9"] = true,
      ["gregtech:gt.comb#14"] = true,
      ["gregtech:gt.comb#19"] = true,
      ["gregtech:gt.comb#10"] = true,
      ["gregtech:gt.comb#13"] = true,
      ["gregtech:gt.comb#141"] = true,
      ["gregtech:gt.comb#140"] = true,
      ["gregtech:gt.comb#54"] = true,
      ["gregtech:gt.metaitem.01#2925"] = true,
      ["gregtech:gt.metaitem.01#2528"] = true,
    },
    ["筛选"] = {},
    ["电解"] = {
      ["gregtech:gt.metaitem.01#2697"] = true,
      ["gregtech:gt.metaitem.01#2941"] = true,
    },
    ["粉碎"] = {
      ["gregtech:gt.metaitem.01#9059"] = true,
    },
  },
  processReverse = {
    ["粉碎=>水洗=>筛选=>离心"] = {
      "Coal",
      "Nether Quartz",
      "Lazurite",
      "Emerald",
      "Perditio",
      "Pitchblende",
      "Ordo",
      "Cassiterite",
      "Amber",
      "Diamond",
      "Sodalite",
      "Thorium",
      "Nether Star",
      "Terra",
      "Tin",
      "Aqua",
      "Ignis",
      "Firestone",
      "Certus Quartz",
      "Lapis",
      "Air",
      "Aer",
      "Cinnabar",
    },
    ["粉碎=>汞洗=>粉碎=>离心"] = {
      "Silver",
      "Nickel",
    },
    ["粉碎=>水洗=>离心"] = {
      "Ruby",
      "Sphalerite",
      "Pentlandite",
      "Chalcopyrite",
    },
    ["粉碎=>水洗=>热离=>粉碎=>离心"] = {
      "Naquadah",
      "Uraninite",
      "Soapstone",
      "Garnierite",
      "Pyrolusite",
      "Pyrite",
      "Tantalite",
      "Naquadah Enriched",
      "Tricalcium Phosphate",
      "Apatite",
      "Shadow",
      "Gold",
      "Tungstate",
    },
    ["粉碎=>水洗=>粉碎=>离心"] = {
      "Molybdenum",
      "Bismuth",
      "Uranium 238",
      "Malachite",
      "Tetrahedrite",
      "Antimony",
      "Oriharukon",
      "Plutonium 239",
      "Titanium",
      "Gallium",
      "Stibnite",
      "Magnetite",
      "Iron",
      "Ardite",
      "Banded Iron",
      "Neodymium",
      "Molybdenite",
      "Draconium",
      "Sulfur",
      "Mica",
      "Electrotine",
      "Copper",
      "Tungsten",
      "Uranium",
      "Redstone",
      "Arsenic",
      "Vanadium Magnetite",
      "Cobalt",
      "Saltpeter",
      "Zinc",
      "Brown Limonite",
      "Shadow Metal",
      "Uvarovite",
      "Aluminium",
      "Scheelite",
      "Desh",
      "Perlite",
    },
    ["粉碎=>汞洗=>热离=>粉碎=>离心"] = {
      "Platinum",
      "Iridium",
      "Meteoric Iron",
    },
    ["粉碎=>粉碎=>离心"] = {
      "Basaltic Mineral Sand",
      "Asbestos",
      "Granitic Mineral",
      "Graphite",
      "Chromite",
      "Granitic Mineral Sand",
      "Roasted Iron",
      "Yellow Limonite",
      "Basaltic Mineral",
    },
    ["粉碎=>水洗=>热离=>粉碎=>离心=>电解"] = {
      "Pollucite",
      "Pyrochlore",
    },
    ["粉碎=>水洗=>粉碎=>离心=>电解"] = {
      "Salt",
      "Cryolite",
      "Lepidolite",
      "Rock Salt",
      "Cobaltite",
    },
    ["粉碎=>离心"] = {
      "Monazite",
      "Bastnasite",
    },
    ["粉碎=>汞洗=>离心"] = {
      "Galena",
    },
  },
}
